# Ignore all __pycache__ directories recursively
**/__pycache__/

# Ignore all compiled Python files
*.py[cod]

#ignore more

nohup.out
test.py
wkt.py
/home/pi/effects/effect_test.py
/home/pi/effects/effect_random2.py
/home/pi/effects/effect_GridTest.py

